@using WorkFlowManager.Common.ViewModels
@using WorkFlowManager.Common.Extensions
@model WorkFlowFormViewModel
@using WorkFlowManager.Common.Enums

@using (Html.BeginForm("", Model.ProcessTaskController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();

    <div class="row islemGorevDurum">
        <div class="col-lg-12">
            <div class="box box-warning">
                <div class="container">
                    @Html.Partial("_WorkFlowTraceStatus", Model.ProgressProcessList)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 islemFormBolum">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.ProcessName</h3>
                    @Html.HiddenFor(x => x.ProcessFormViewCompleted)
                    @Html.HiddenFor(x => x.ProcessFormViewViewName)
                    @Html.HiddenFor(x => x.ProcessName)
                    @Html.HiddenFor(x => x.GorevTanim)
                    @Html.HiddenFor(x => x.TargetProcessId)
                    @Html.HiddenFor(x => x.IsCondition)
                    @Html.HiddenFor(x => x.ProcessAssignedRole)
                    @Html.HiddenFor(x => x.OwnerId)
                    @Html.HiddenFor(x => x.ProcessNextLabel)
                    @Html.HiddenFor(x => x.ProcessComment)
                    @Html.HiddenFor(x => x.ProcessDescription)
                    @Html.HiddenFor(x => x.ProcessId)
                    @Html.HiddenFor(x => x.ProcessStatus)
                    @Html.HiddenFor(x => x.ProcessTaskId)
                    @Html.HiddenFor(x => x.ProcessTaskSpecialFormTemplateView)
                    @Html.HiddenFor(x => x.ProcessTaskController)
                    @Html.HiddenFor(x => x.ProcessTaskName)
                    @Html.HiddenFor(x => x.Id)
                    
                    @Html.Hidden("WorkFlowFormType", Model.GetType())

                    <div class="box-tools pull-right">
                        <div class="btn-group islemRaporBolum" style="display:none">
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                Raporlar <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="btn btn-sm" style="cursor:pointer" href='@Url.Action("ShowWorkFlow", Model.ProcessTaskController, new { workFlowTraceId = Model.Id})' target="_blank">
                                        <span data-toggle="tooltip" title="Süreç"><i class="fa fa-sitemap fa-3x"></i></span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div style="display:none" class="islemButonBolum">
                            @Html.Partial("_ProcessButton", Model)
                        </div>

                        <a style="cursor:pointer" class="sayfaGenislet" title="Sayfayı Genişletmek İçin Tıklayın">
                            <i class="fa fa-window-maximize"></i>
                        </a>
                        <a style="cursor:pointer; display:none" class="sayfaDaralt" title="Sayfayı Daraltmak İçin Tıklayın">
                            <i class="fa fa-window-minimize"></i>
                        </a>

                    </div>
                </div>
                <div style="display:none" class="box-header with-border islemGorevDurumMaximum">
                    @Html.Partial("_WorkFlowTraceStatus", Model.ProgressProcessList)
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">@Html.ShowLabel(Model.ProcessDescription)</label>
                    </div>
                    @if (Model.ListOfOptions != null)
                    {
                        <div class="form-group">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                @foreach (var item in Model.ListOfOptions)
                                {
                                    <text>
                                        <input type="radio" class="flat-green" data-switch-no-init name="ConditionOptionId" value="@item.Id" @(Model.ConditionOptionId == item.Id ? "checked" : "")>
                                        <label>@item.FormDescription</label><br />
                                    </text>
                                }
                                @Html.ValidationMessageFor(x => x.ConditionOptionId)
                            </div>
                        </div>
                    }

                    @if (Model.SubProcessList != null && Model.SubProcessList.Count() > 0)
                    {
                        <span>Sub Process List</span><br>
                        foreach (var subprocess in Model.SubProcessList)
                        {
                            <a target="_blank" href="@Url.Action("GetProcess", "WorkFlowProcess", new { ownerId = subprocess.Id, taskName= subprocess.Name  })">
                                <i class="glyphicon glyphicon-play"></i>
                                <span>@subprocess.Name</span>
                            </a><br/>
                        }
                    }

                    @if (Model.ProcessAssignedRole != ProjectRole.System)
                    {
                        if (@Model.ProcessFormViewViewName != null)
                        {
                            if (!Model.ProcessFormViewCompleted)
                            {
                                <h4>@Model.ProcessFormViewViewName is under contruction</h4>
                            }
                            else
                            {
                                @Html.PartialFor(x => Model, @Model.ProcessFormViewViewName)
                            }
                        }
                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.LabelFor(x => x.Description)
                                @Html.TextAreaFor(x => x.Description, new { @placeholder = "Additional comment", @class = "textarea-editor form-control", rows = 4 })
                                @Html.ValidationMessageFor(x => x.Description)
                            </div>
                        </div>
                    }

                </div>
            </div>

            @Html.Partial("_AuthorizedProcess", Model.AuthorizedProcessList)
        </div>
        <div class="col-lg-4 islemDetayBolum">
            <div class="panel panel-info">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    @Html.Partial("_ProcessButton", Model)
                </div>
            </div>

            @Html.Partial("_ProcessInformation", Model)

            <div class="panel panel-info">
                <div class="panel-heading">Reports</div>
                <div class="panel-body">
                    <a class="btn btn-info btn-sm" style="cursor:pointer" href='@Url.Action("ShowWorkFlow", Model.ProcessTaskController, new { workFlowTraceId = Model.Id})' target="_blank">
                        <span data-toggle="tooltip" title="Süreç"><i class="fa fa-sitemap fa-2x"></i></span>
                    </a>
                </div>
            </div>


        </div>
    </div>

}


<script src="@Url.Content("~/Scripts/mermaid.js")"></script>

<script>

    @if (Model.ProcessAssignedRole != ProjectRole.System)
    {
    <text>

    $(function () {

        @if (Model.ProcessStatus ==  WorkFlowManager.Common.Enums.ProcessStatus.Completed)
        {
            <text>

        
            setTimeout(function () {

                    $('input').attr("disabled", "disabled");
                    $('textarea').attr("disabled", "disabled");

                    $("[name='ConditionOptionId']").iCheck('disable');
                },
                100
                );

            </text>
        }
    });
    </text>
    }
</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .form-control {
        height: 25px;
        padding: 6px 5px;
    }

    .form-horizontal .control-label {
        padding-top: 1px;
    }

    .row-centered {
        text-align: center;
    }

    .multiline-label {
        white-space: pre-wrap;
    }

    .rowAlert {
        background-color: burlywood;
    }

    .container {
        width: 100%;
        margin: 2em auto;
    }

</style>