
@using System.Web.Optimization
@using WorkFlowManager.Common.Tables
@using WorkFlowManager.Common.Enums

@model WorkFlowManager.Common.ViewModels.WorkFlowIndexViewModel


<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-lg-12">

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @Model.ActiveTaskName
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                            @foreach (var task in Model.TaskList)
                            {
                                var taskName = string.Format("{0}({1})", task.WorkFlow.Name, task.Name);

                                if (Model.ActiveTaskId == task.Id)
                                {

                                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>@taskName</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", new { taskId = task.Id })"><i class="glyphicon glyphicon-unchecked"></i>@taskName</a></li>
                                }
                            }
                        </ul>
                        <a href="@Url.Action("NewTask")" class="btn btn-primary btn-primary">
                            <i class="fa fa-plus"></i> New Task
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">

                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#workFlow" data-toggle="tab" aria-expanded="false">Work Flow</a></li>
                        <li><a href="#specialForms" data-toggle="tab" aria-expanded="true">Custom Forms</a></li>
                        <li><a href="#decisionMethods" data-toggle="tab" aria-expanded="true">Decision Methods</a></li>
                        <li><a href="#workFlowSummary" data-toggle="tab" aria-expanded="true">Work Flow Summary</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="workFlow">
                            <div id="workFlowContainer" class="box-body">
                                @{ Html.RenderAction("WorkFlow", "WorkFlow", new { taskId = Model.ActiveTaskId }); }
                            </div>
                        </div>
                        <div class="chart tab-pane" id="specialForms">
                            <div id="specialFormsContainer" class="box-body">
                                @{ Html.RenderAction("SpecialForm", "WorkFlow", new { taskId = Model.ActiveTaskId }); }
                            </div>
                        </div>
                        <div class="chart tab-pane" id="decisionMethods">
                            <div id="decisionMethodsContainer" class="box-body">
                                @{ Html.RenderAction("DecisionMethod", "WorkFlow", new { taskId = Model.ActiveTaskId }); }
                            </div>
                        </div>
                        <div class="chart tab-pane" id="workFlowSummary">
                            <div id="workFlowSummaryContainer" class="box-body">
                                @{ Html.RenderAction("WorkFlowSummary", "WorkFlow", new { taskId = Model.ActiveTaskId }); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>


<script>
    var validationMessageTmpl = kendo.template($("#message").html());
</script>

